{
  "presets": [
    [ "minify" ],
    [ "@babel/preset-env", {
      "useBuiltIns": "usage",
      "modules": "auto",
      "corejs": 3
    } ]
  ],
  "plugins": [
    [ "@babel/transform-runtime", { "corejs": 3 } ]
  ],
  "comments": false
}
